.container {
    max-width: 100vw;
    flex-direction: column;
}

.img-thumbnail {
    max-width:100px;
    width: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.card {
    max-width:15%;
    margin: 10px 10px;
    border-radius: 5px;
    padding: 1% 0%;
    text-align: center;
    padding-bottom: 0%;
}

.card img {
    max-height: 200px;
    min-height: 200px;
    width: 50%;
    margin:0 23%;
    cursor: pointer;
}

.card-title {
    cursor: pointer;
}

.booksLoader {
    display: block;
    margin:auto;
    width:100px;
}

.card-body {
    display: flex;
    flex-direction: column;
}
  
button.all {
    display: flex;
    flex-direction: row;
}


.row {
    padding-bottom: 5%;
}

.card-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

.card-buttons button {
    text-align: center;
    padding-block-start: 7px;
    vertical-align: auto;
    border: none;
    border-radius: 5px;
    display: flex;
    flex: 1;
    margin-left: 0;
    max-width: 100%;
    width: 100%;
    margin-top: auto;
}

.card-buttons button p {
    width: 100px;
    height: 20px;
}