
.card.card-container{
    cursor:default;
}

.centered {
    display: flex;
    justify-content: center;
}

.star {
  color:rgb(206, 25, 25);
}

.edit-button {
  text-align: center;
  padding-block-start: 7px;
  border: none;
  border-radius: 5px;
  display: flex;
  margin-left: 0;
  max-width: 50%;
  width: 100%;
  padding: 0;
  margin-top: 10%;
  padding: 4% 2%;
  justify-content: center;
}