footer {
	position: fixed;
	bottom: 0;
	background-color: #212529;
    width: 100%;
    line-height: 3;
}

#footerNav .container {
	display: flex;
	flex-direction: row;
}

#footerNav {
	display: inline-block;
}

#footer nav ul {
	display: contents;
}

#copyright {
	position: absolute;
	width: 44px;
	color: #E0C9A6;
	border-radius: 50%;
	bottom: 10px;
	left: 40px;
	z-index: 11;
	white-space: nowrap;
}

#contactMeText {
    list-style-type: none;
    position: absolute;
	text-align: center;
}

.contactMe img {
    filter: invert(58%) sepia(7%) saturate(1026%) hue-rotate(355deg) brightness(86%) contrast(85%);
	width: 30px;
	margin-left: 10px;
}

.contactMe img:hover {
	filter: invert(95%) sepia(23%) saturate(787%) hue-rotate(311deg) brightness(93%) contrast(87%);
}

a {
	color: #ad9b80;
	text-decoration: none;
}

a:hover {
    color: #E0C9A6;
	cursor: pointer;
}

.arrowUp {
	position: absolute;
	width: 35px;
	height: 35px;
	
	color: #ad9b80;
    border: 2px #ad9b80 solid;
	border-radius: 50%;
	bottom: 20px;
	right: 40px;
	z-index: 11;
	transition: 0.3s;
}

.arrowUp a {
	transition: 0.3s;
}

.arrowUp:hover {
	position: absolute;
	height: 45px;
	width: 45px;
	color: #E0C9A6;
    border: 3px #E0C9A6 solid;
	border-radius: 50%;
	bottom: 10px;
	right: 35px;
	z-index: 11;
	transition: 0.3s;
}